@model IEnumerable<OliviasBank.Models.BankModels.Customer>

@{
    ViewData["Title"] = "Home Page";
}


<table class="table">
    <tr>
        <th>CustomerId</th>
        <th>Name</th>
        <th>Accounts</th>
    </tr>

    @foreach (var customer in Model)
    {
        <tr>
            <td>@customer.Id</td>
            <td>@customer.Name</td>
            <td>
                <table class="table">
                    <tr>
                        <th>AccountId</th>
                        <th>Balance</th>
                    </tr>
                    @foreach (var account in customer.AccountList)
                    {
                        <tr>
                            <td>@account.Id</td>
                            <td>@account.Balance</td>
                        </tr>
                    }
                </table>
            </td>
        </tr>
    }
</table>

